# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual Environments
venv/
env/
.env

# IDE settings (Visual Studio Code, PyCharm, etc.)
.vscode/
.idea/

# Distribution / packaging
dist/
build/
*.egg-info/